.Header {

  position: absolute;
  top: 10px; left: 0;
  width: 100%;
  z-index: 999;

  .Grid-Content {
    display: flex;
    justify-content: space-between;
  }

  a {
    background-image: url(/assets/images/underline_full.svg);
  }
}
